
[openprojects]
base = "https://community.openproject.com/"
emailDomain = "example.com"
updateInterval = 30
emailPlaceHolder = "user-{id}@example.com"

[cache]
nameExpire = 5

[tls]
enabled = true
auto = true
mode = "strict"
httpAddress = ":80"
httpsAddress = ":443"
hosts = [ "imap.example.com", "example.com" ]
path = "certs"

[imap]
address = "0.0.0.0:2143"

