
[openprojects]
base = "https://community.openproject.com/"
emailDomain = "example.com"
updateInterval = 30
emailPlaceHolder = "user-{id}@example.com"
# TimeEntry Activity used for message flags
timeEntryActivity = "Other"

[openprojects.cache]
db = "data/cache.db"
nameExpire = 5

[tls]
# Enable TLS support for IMAP
enabled = true
# TLS security modes: loose, strict, default
mode = "strict"
# Use LetsEncrypt for automatic certificate support
auto = true
# Email address for LetsEnrypt registration.  Required
email = "name@example.com"
# For local development (self-signed cert)
local = false
# http and https listen ports
httpAddress = ":80"
httpsAddress = ":443"
# Hosts to create certs for.
hosts = [ "imap.example.com", "example.com" ]
# folder to store certs
path = "data/certs"

[imap]
address = "0.0.0.0:2143"

